<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="col">
            <div class="row">
                <div class="card col-6 mx-auto shadow">
                    <div class="col-12 text-center mt-2">
                        <h1>Categorias</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                         {%csrf_token%}
                         {{form.as_p}} 
                         <div class="col-12 text-center">
                             <button class="btn btn-primary" type="submit">Agregar</button>
                         </div>
                        </form>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow">
                        <div class="card-body">
                            <form method="post">
                                <div class="col-12">
                                    <h1 class="text-center">Crear Categoria</h1>
                                    <div class="form-group">
                                        <label for="nombre">Nombre</label>
                                        <input type="text" class="form-control" id="nombre" name="nombre">
                                    </div>
                                    <div class="form-group">
                                        <label for="nombre">Imagen</label>
                                        <input type="text" class="form-control" id="imagen" name="imagen">
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-primary mt-5" type="submit">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function CrearCategoria(){

        }
    </script>
</body>
</html>