<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-6 mt-5">
                    <h1>Bienvenido a mi OnePage</h1>
                    <br>
                    <p>Este sitio esta encargado de cargar targetas de bootstrap dinamicamente</p>
                    <br>
                </div>
                <div class="col-6 mt-5">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvJZONCNGXEDHPopTA9pSMayySwNu9c8qfdA&s" alt="img" class="img-fluid">
                </div>
            </div>
            <div class="row mt-5" id="cards">
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            Estes es un titulo estatico
                        </h5>
                        <p class="card-text">
                            este es un texto estatico dentro de la card
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor minima ut similique! Nobis tempora saepe alias at, aliquam maiores beatae sit. Commodi et tempora cupiditate nobis ullam officiis inventore fuga!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function loadcards(title, text){
            var card = document.createElement('div');
            card.setAttribute('class', 'card col-4');
            var cardbody = document.createElement('div');
            cardbody.setAttribute('class', 'card-body');
            var h5 = document.createElement('h5');
            h5.setAttribute('class', 'card-title');
            h5.innerHTML = title;
            var p = document.createElement('p');
            p.setAttribute('class', 'card-text');
            p.innerHTML = text;
            
            cardbody.appendChild(h5);
            cardbody.appendChild(p);
            card.appendChild(cardbody);
            document.getElementById('cards').appendChild(card);
        }
        var i = 1;
        window.addEventListener('scroll', () =>{
            if(window.innerHeight + window.scrollY >= document.body.offsetHeight){
                for(let index=0; index < 5; index++){
                    if(i > 100){
                        break;
                    }
                    var object={
                        title: 'Titulo dinamico de cards ' + i,
                        text: 'texto dinamico de la card' + i
                    }
                    loadcards(object.title, object.text);
                    i++;
                }
            }
        });
    </script>

</body>
</html>
