<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="text" name="nombre" placeholder="Ingrese el nombre">
        <input type="number" name="edad" placeholder="Ingrese la edad">
        <button type="submit">Enviar</button>
    </form>
    {%if objeto%}
    <!--Todo lo que este aqui se va a pintar-->
    <h1>Bienvenido</h1>
    <h2>{{objeto.nombre}}</h2>
    <p>{{objeto.descripcion}}</p>
    {%endif%}

    {% if personas%}
        <ul>
            {% for persona in personas%}
            <li>{{persona.nombre}}</li>
            {%endfor%}
        </ul>
    {%endif%}
</body>
</html>